.header {
	background: #ffffff;
	 font-family: 'PT Sans';

	.logo{
		float: left;
		max-width: 60px;
		
	}
	.search-form{
		position: absolute;
   		width: 100%;
	    background-color: #59646f;
	    form{
	    	padding: 44px;
	    }
	}
}

